.ContactComponent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.ContactTitle {
  display: flex;
  justify-content: center;
  margin: 20px 0px;
  width: 140px;
  border-radius: 20px;
  font-size: 16px;
  font-weight: 600;
  background-color: #e2e1df;
}
.ContactSubTitle {
  display: flex;
  font-size: 17px;
  width: 554px;
}
.ContactDetailsTemp {
  display: flex;
  flex-direction: column;
  padding: 40px;
  font-size: 30px;
  font-weight: 600;
  justify-content: center;
  align-items: center;
}
.ContactMail {
  display: flex;
  flex-direction: row;
  padding: 8px;
  align-items: center;
}
.ContactMobile {
  display: flex;
  flex-direction: row;
  padding: 8px;
  align-items: center;
}

.copyNumber:hover {
  cursor: pointer;
}
.copyMail:hover {
  cursor: pointer;
}
.Platforms {
  display: flex;
  flex-direction: row;
  height: 24px;
  font-size: 17px;
  font-weight: 500;
  padding: 20px;
  font-family: "inter";
  justify-content: center;
}

.AlternativeContact{
    margin-bottom: 80px;
}
.Fotter{
    display: flex;
    justify-content: center;
    align-items: center;
}
